@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Noto Serif", serif;
}

/*************Scissors*************/

.scissors{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.scissors_2 ul, .scissors_3 ul{
    display: flex;
    gap: 25px;
    font-size: 13px;
}

.scissors_2 ul li, .scissors_3 ul li{
    list-style-type: none;
}

.scissors_3 ul li button, button{
    border-radius: 15px;
    background-color: #0065fe;
    color: white;
    font-size: 10px;
    height: 30px;
    width: 100px;

}

.scissors_3 ul li span{
    color: #0065fe;
}

.Optimize{
    font-size: 35px;
    height: 150px;
    width: 750px;
   margin: 0 auto;
   margin-top: 50px;
    line-height: 70px;
    text-align: center;
}

.url_shrt{
    color: #0065fe;
    position: relative;
    
}
.url_shrt::after{
content: url(./Media/Vector\ 3.svg);
position: absolute;
height: 20px;
width: 174px;
top: 25px;
left: 20px;
}

.brand{
    height: 80px;
    width:500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    line-height: 20px;
    padding: 10px;
}

.signup{
    margin: 0 auto;
    height: 60px;
    width: 250px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.cone{
    position: relative;
    height: 200px;
    width: 600px;
    margin: 0 auto;
}

.cone1 img{
    height: 200px;
    width: 200px;
}

.cone2 img{
  margin-left: 50px;
  margin-top: 30px;
  width: 300px;
}

.cone1{
    position: absolute;
}

.cone2{
    position: absolute;
    height: 170px;
    width: 600px;
    border-radius: 20px;
    top: 10px;
    border: 1px solid #005AE2;
    box-shadow: 10px 10px 20px rgb(0.2, 0.2, 0.2, 0.5);
}

.cone2_1{
    font-size: 11px;
    text-align: center;
    line-height: 15px;
}

.cone2_1 span{
    font-weight: bold;
}

.majorfour{
height: 250px;
width: 100%;
}

.four{
    height: 160px;
    background-color: #F9FBFD;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

.four_1{
    font-size: 25px;
}

.four_2{
    display: flex;
    justify-content: space-between;
   gap: 50px;
}

.cut{
    font-size: 16px;
    font-weight: bold;
}

.put{
    font-size: 10px;
}

.eclipse{
    width: 40px;
    position: absolute;
}

.imgrel{
    position: absolute;
}

.fit{
    position: relative;
    height: 600px;
    width: 100%;
}

.gradientt{
    height: 40px;
    width: 6px;
    background: linear-gradient(#1E3448,#1E344800);
    position: relative;
    left: 13%;
    top: 20%;
}

.fit_1{
position: absolute;
height: 210px;
width: 22%;
left: 14%;
top: 20%;
}

.fit_1_1{
    font-size: 15px;
    word-wrap: break-word;
    padding-top: 10px;
}

.fit_2{
    position: absolute;
    height: 170px;
    width: 22%;
    left: 41%;
    top: 20%;
    }

    .fit_2_1{
        padding: 50px 0 15px;
        font-weight: bold;
        font-size: 20px;
    }

    .fit_2_3{
        font-size: 15px;  
    }

    .fit_2_2{
      position: relative;
      left:  4px;
      top: 3px;
    }

    .fit_3{
        position: absolute;
        height: 170px;
        width: 22%;
        left: 67%;
        top: 20%;
        }

        .fit_3_2{
            padding: 50px 0 15px;
            font-weight: bold;
            font-size: 20px;
        }

        .fit_3_3{
            font-size: 15px;  
        }

        .fit_3_1{
            position: relative;
            left:  10px;
            top: 10px;
          }

          .fit_4{
            position: absolute;
            width: 22%;
            left: 41%;
            top: 60%;
            }
    
            .fit_4_2{
                padding: 50px 0 15px;
                font-weight: bold;
                font-size: 20px;
            }
    
            .fit_4_3{
                font-size: 15px;  
            }
    
            .fit_4_1{
                position: relative;
                left:  12px;
                top: 10px;
              }

              .fit_5{
                position: absolute;
                height: 170px;
                width: 22%;
                left: 67%;
                top: 60%;
                }
        
                .fit_5_2{
                    padding: 50px 0 15px;
                    font-weight: bold;
                    font-size: 20px;
                }
        
                .fit_5_3{
                    font-size: 15px;  
                }
        
                .fit_5_1{
                    position: relative;
                    left:  10px;
                    top: 10px;
                  }

                  .needs{
                    margin: 0 auto;
                    height: 200px;
                    width: 35%;
                    text-align: center;
                  }

                  .mother{
                    width: 100%;
                    height: 600px;
                    align-items: center;
                    position: relative;
                  }

                  .mother_1{
                    position: absolute;
                    width: 65%;
                    height: 450px;
                    margin: 0 auto;
                    border: 1px solid #005AE2;
    box-shadow: 10px 10px 20px rgb(0.2, 0.2, 0.2, 0.5);
    border-radius: 10px;
    left: 18%;
    top: 80px;
    display: flex;
    justify-content: space-between;
 }

 .mother_2{
    height: 600px;
    width: 27%;
  background-color: #1E3448;
  border-radius: 10px;
  position: absolute;
  left: 38%;
  color: white;
  padding-left: 70px;
  padding-top: 100px;
 }

 .mother_1_1{
    color: black;
    padding-left: 60px;
    padding-top: 20px;
 }

 .mother_1_2{
    color: black;
    padding-right: 20px;
    padding-top: 20px;
 }

